[Unit]
Description=Dinner Kill Points
After=syslog.target network.target

[Service]
EnvironmentFile=/home/dkp/dkpenv
WorkingDirectory=/home/dkp/publish
ExecStart=./DkpWeb
KillSignal=SIGINT
SyslogIdentifier=dkp
Restart=always
User=dkp

[Install]
WantedBy=multi-user.target
