[Unit]
Description=Dinner Kill Points
After=syslog.target network.target

[Service]
Environment="ASPNETCORE_URLS=http://0.0.0.0:8080"
EnvironmentFile=/root/dkpenv
ExecStart=/root/publish/DkpWeb
WorkingDirectory=/root/publish
KillSignal=SIGINT

[Install]
WantedBy=multi-user.target
